<ion-header mode="ios" class="ion-no-border [--background:theme(colors.fundo-neutro)]">
  <ion-toolbar class="[--background:theme(colors.fundo-neutro)]">
    <ion-buttons slot="start">
      <!--Volta pra a tela de login por padrão-->
      <ion-back-button defaultHref="/auth/login" class="text-texto-profundo"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Container centralizado e com largura máxima em telas maiores-->
  <div>
    <!--Ícone e título-->
    <div>
      <div>
        <ion-icon name="key-outline"></ion-icon>
      </div>
      <h1>Esqueci minha senha</h1>
      <p>Não se preocupe! Digite seu email abaixo e enviaremos um link pare redefinir sua senha.</p>
    </div>

    <!--Formulário-->
    <form>
      <div>
        <ion-label>Email</ion-label>
        <div>
          <ion-input type="email"></ion-input>
          <ion-icon name="mail"></ion-icon>
        </div>
        <!--Erro-->
        <div>
          <span>Email é obrigatório.</span>
          <span>Email inválido.</span>
        </div>
      </div>

      <ion-button type="submit">
        <ion-icon name="send"></ion-icon>
        Enviar link de recuperação
      </ion-button>

    </form>

    <!--Link voltar ao login-->
    <div>
      Lembrou sua senha? <a>Voltar ao login</a>
    </div>

    <!--Bloco de ajuda-->
    <div>
      <div>
        <ion-icon name="help-circle"></ion-icon>
        <h3>Precisa de ajuda?</h3>
        <p>Se você não receber o email em alguns minutos, verifique sua pasta 
          de spam ou entre em contato conosco.
        </p>
        <a href="#">
          <ion-icon name="headset"></ion-icon>
          Falar com suporte
        </a>
      </div>
    </div>


  </div>
</ion-content>