<ion-tabs>
  <ion-tab-bar slot="bottom" class="border-t border-gray-100">
   <ion-tab-button tab="planejamento" href="/tabs/planejamento">
      <ion-icon  name="calendar"></ion-icon>
      <ion-label>Planejamento</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="subjects" href="/tabs/subjects">
      <ion-icon  name="library"></ion-icon>
      <ion-label>Matérias</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="alunos" href="/tabs/alunos">
      <ion-icon  name="people"></ion-icon>
      <ion-label>Alunos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon  name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
